In [12]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
filepath = './rr49c/rr49c_objects_e.txt'

df = pd.read_csv(
        filepath,
        header=1)

spineMapFile = './rr49c/rr49c_spineMap_e.txt'
spineMap = pd.read_table(
        spineMapFile,
        header=None)

# look at rows 35 to 45
df[70:75]

,masterIdx,map,session,spineMapRow,segmentMapRow,Idx,roiType,roiTypeNum,x,y,...,dMinus_ch2,dbSum_ch2,dbMean_ch2,dbSD_ch2,dbN_ch2,ubssSum_ch2,ubssMean_ch2,ubsdSum_ch2,ubsdMean_ch2,Unnamed: 135
70,70,rr49c,0,70,2,70,controlPnt,2,108.3800,46.448,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,71,rr49c,0,71,2,71,controlPnt,2,113.8900,48.651,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,72,rr49c,0,72,2,72,controlPnt,2,118.6600,50.610,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,73,rr49c,0,73,2,73,controlPnt,2,122.3300,51.711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,74,rr49c,0,75,0,75,spineROI,0,2.9738,114.970,...,NaN,26466,61.263889,78.018944,432,56846,74.601044,23139,53.562496,NaN

In [ ]:
# plot x/y position of all points
plt.scatter(df['x'], df['y'])

In [ ]:
#read in header
with open(filepath, 'U') as f:
    headerStr = f.readline().strip('\n')

#remove trailing ';' from header
headerStr = headerStr[:-1] #assuming last character is ';' and you want it removed

#print repr(headerStr)
headerDict = {}
for i in headerStr.split(';'):
    k, v = i.split('=')
    headerDict[k] = v

#now we can get number of sessions with headerDict['numSessions']
headerDict

In [ ]:
#just spines
spines = df[df['roiType'] == 'spineROI']
plt.scatter(spines['x'], spines['y'])

In [ ]:
#session 2 spines
spines = df[df['roiType'] == 'spineROI']
spines2 = spines[spines['session'] == 2]
plt.scatter(spines2['x'], spines2['y'])

In [ ]:
#a plot of each sessions spines
spines = df[df['roiType'] == 'spineROI']

numSessions = int(headerDict['numSessions'])
for i in range(numSessions):
    print i
    spines2 = spines[spines['session'] == i]
    plt.scatter(spines2['x'], spines2['y'])

In [34]:
df[75:76]
spineMap.iloc[1,2]

460.0

In [46]:
spines = df[df['roiType'] == 'spineROI']

spines_seg1 = spines[spines['segmentMapRow']==1]

m, n = spineMap.shape
#spineMapInt = spineMap.astype(int) #does not work because of NaN

#shit, this is way harder than i thought
yPlot = np.empty([m,n], dtype=np.float)
xPlot = np.empty([m,n], dtype=np.float)
for i in range(m):
    for j in range(n):
        if spineMap.loc[i,j] is not None:
            df['sSum_ch1'].iloc[int(spineMap.loc[i,j])]
            #yPlot[i][j] = df['sSum_ch1'].iloc[int(spineMap.loc[i,j])]
            xPlot[i][j] = df['session'].iloc[i]

plt.scatter(xPlot,yPlot)

ValueError: cannot convert float NaN to integer

array([[  0.,   0.,   0.,   0.,   0.,   0.],
       [  1.,   1.,   1.,   1.,   1.,   1.],
       [  2.,   2.,   2.,   2.,   2.,   2.],
       ...,
       [ 12.,  12.,  12.,  12.,  12.,  12.],
       [ 13.,  13.,  13.,  13.,  13.,  13.],
       [ 14.,  14.,  14.,  14.,  14.,  14.]])